{% extends "base.html" %}

{% block title %}Create New Task{% endblock %}

{% block content %}


<div class="container-fluid p-4">
<button class="btn btn-primary">
    <a class="nav-link" href="/">Back</a>
</button>
</div>


<div class="container-fluid d-flex flex-column gap-4 align-items-center justify-content-center form-sizer mx-auto v-90">
    <h3 class="p-4">New Task</h3>
        <form method="POST" class="form-group d-flex flex-column gap-4">
            <div class="input-group">
                <span class="input-group-text">Title</span>
            <input type="text" class="form-control shadow-none" placeholder="Pack for vacation" name="title" id="title">
            </div>


            <div class="input-group">
            <span class="input-group-text">Small Note</span>
            <input class="form-control shadow-none" name="note" id="note" placeholder="Don't forget the slippers...">
            </div>

            <button class="btn btn-primary" type="submit">Add to my list</button>
        </form>
</div>

{% endblock content %}